body{
    font-family: 'lato',sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $text-primary;

}


.text-box{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    .heading-primary{
        color: $text-white;
        text-transform: uppercase;
    }
    .heading-primary-main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: .2s;
    }
    .heading-primary-sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;
        margin-bottom: 60px;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-timing-function: ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    // Inline-block prevent the element from occupying 100% of the width.
    display: inline-block;
    // making the text color to be gradient
    //background: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color:transparent;
    
    transition: all .2s;
    &:hover{
        transform: skewY(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(#000,.2);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.6rem;

    &:not(&:last-child){
        margin-bottom: 3rem;
    }

}


.text-xxl{
    font-size: 1.7rem;
    font-weight: 700;

}
.text-xl{
    font-size: 1.4rem;
    font-weight: 600;
}
.text-lg{
     font-size: 1.2rem;
    font-weight: 600;
}

.text-md{
     font-size: 1.1rem;
     font-weight: 500;
}

.text-message{
     font-size: 1.3rem;
     font-weight: 500;
}


