.center-text{
    text-align: center;
}

.margin-bottom-xl{
    margin-bottom: 8rem;
}
.margin-bottom-md{
    margin-bottom: 4rem;
}

.margin-bottom-sm{
    margin-bottom: 2rem;
}

.margin-top-xl{
    margin-top: 8rem;
}
.margin-top-xxl{
     margin-top: 10rem;
}

